SECRET_KEY        = 'django-insecure-1ausoqfxb(c9zj(mdvepec@u8yq_q(wkhee%duoduq7h)e@nf9'
DEBUG             = True
DATABASE_NAME     = 'diplom'
DATABASE_USER     = 'postgres'
DATABASE_PASSWORD = '123456'
DATABASE_HOST     = 'localhost'
DATABASE_PORT     = '5432'
